body {
	font-family: Roboto;
	outline-color: darkgreen;
	outline-style: double;
	outline-width: 10px;
	padding: 20px;
	margin: 20px;
	background-color: mintcream;
}

.bordered, .no-sort {
	border: 1px solid black;
	border-collapse: collapse;
}

.borderless {
	border: none;
}

div {
	margin-left: 2%;
}

input[type=checkbox] {
	padding: 15px 5px 15px 5px;
}

img {
	display: inline-block;
	float: right;
	margin-top: -8%;
	margin-right: 6%;
	height: 256;
	width: 298.5;
}

h1 {
	background-color: #101050;
	border: 3px solid #101050;
	color: floralwhite;
	text-align: center;
	margin-bottom: 0px;
}

h3 {
	display: inline-table;
	margin-bottom: 10px;
	border-left: 3px hidden #101050;
	border-right:  3px hidden #101050;
	border-top:  3px hidden #101050;
	border-bottom: 3px solid #101050;
}

h4 {
	padding-top: 0px;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
}

.controls {
	margin-left: 0px;
	padding: 5px 5px 5px 5px;
	border-left: 3px hidden #101050;
	border-right:  3px hidden #101050;
	border-top:  3px solid #101050;
	border-bottom: 3px solid #101050;
}

tr, th, td {
	padding: 5px;
}

.prettybutton {
	background-color: darkgreen;
	border: none;
	color: white;
	padding: 12px 29px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
}
